html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}

.video-background {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: -99;
}

.menu-container {
  position: absolute;
  bottom: 0;
  text-align: left;
  margin-left: 1%;
  padding-bottom: 4%;
}

.blue-text {
  color: #0084ff;
}

.arrow-up,
.arrow-down,
.music-change,
.space {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}

.arrow-up img,
.arrow-down img,
.music-change img,
.space img {
  margin-right: 5px;
}

.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-center {
  text-align: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sky {
  height: 100%;
  color: #FFF;
  display: block;
}

#circleG {
  position: absolute;
  width: auto;
  display: flex;
  align-items: center;
  bottom: 0;
  right: 0;
  margin-bottom: 4%;
  margin-right: 1%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.6%;
  border-radius: 30px;
}

.circleG {
  background-color: #0084ff;
  height: 10px;
  width: 10px;
  animation-name: bounce_circleG;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: linear;
  border-radius: 9px;
}

div#circleG>.circleG:nth-child(even) {
  margin: 0 7px;
}

#circleG_1 {
  animation-delay: 0.3s;
}

#circleG_2 {
  animation-delay: 0.7s;
}

#circleG_3 {
  animation-delay: 0.9s;
}

@keyframes bounce_circleG {
  0% {}

  50% {
    background-color: rgb(255, 255, 255)
  }

  100% {}
}


.discord {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 4%;
  margin-right: 1%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 55px;
}

.website {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 11%;
  margin-right: 1%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 55px;
}

.shaded-text {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradient-animation 5s infinite;
  animation-fill-mode: forwards;
  width: 120px;
  text-align: center;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  60% {
    background-position: 100% 50%;
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    background-position: 0% 50%;
    opacity: 1;
  }
}

.scroll-box {
  position: absolute;
  height: 600px;
  width: 300px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
  margin-top: 4%;
  margin-left: 1%;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

/*
.scroll-box::-webkit-scrollbar {
  display: none;
}
*/

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  padding-left: 3.5%;
  padding-right: 4.5%;
  background-color: #0084ffad;
  text-align: center;
  font-size: 20px;
  border-radius: 10px 10px 0px 0px;
}

.person img {
  width: 60px;
  margin-right: 15px;
  border-radius: 50%;
}

.person {
  align-items: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.person .menu-text {
  text-align: left;
  padding-right: 5%;
}

.person:last-child {
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 10px;
}

.owner-role {
  color: #0084ff;
}

.manager-role {
  color: rgb(30, 75, 255);
}

.developer-role {
  color: rgb(149, 47, 245);
}

.admin-role {
  color: rgb(240, 3, 248);
}

.date {
  position: absolute;
  font-size: 12px;
  margin-top: 3%;
  white-space: nowrap;
  margin-left: 60%;
}

.songname {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0px 30px 30px 0px;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.load {
  position: absolute;
  right: 0;
  margin-top: 4.5%;
  margin-right: 6%;
  display: flex;
  overflow: hidden;
}

.loader {
  height: 34px;
  display: flex;
  align-items: center;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px 0px 0px 30px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  padding-right: 6px;
  padding-left: 5px;
}

.loader .stroke {
  display: block;
  position: relative;
  background: #f1f1f1;
  height: 50%;
  width: 4px;
  border-radius: 50px;
  margin: 0 3px;
  animation: animate 0.9s linear infinite;

}

@keyframes animate {
  50% {
    height: 10%;
  }

  70% {
    height: 25%;
  }

  100% {
    height: 50%;
  }
}

.stroke:nth-child(1) {
  animation-delay: 0s;
}

.stroke:nth-child(2) {
  animation-delay: 0.3s;
}

.stroke:nth-child(3) {
  animation-delay: 0.6s;
}


.slide-right {
  width: 200px;
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }

  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.namePlaceholder {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
  position: absolute;
  margin-top: 4%;
  margin-left: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
}