# FiveM Artifact
artifact
node_modules

# Cache
server-data/.replxx_history
server-data/cache/files
server-data/cache/files/BasicItem
server-data/cache/chat
server-data/cache/yarn-cache
server-data/db/default
server-data/imgui.ini

# Resources
server-data/resources/\[anticheat]/discord-screenshot
server-data/resources/\[anticheat]/FIREAC

# Resources log
server-data/resources/\[phone]/npwd/sv_npwd.log