# FiveM Artifact
artifact
node_modules

# Cache
server-data/.replxx_history
server-data/cache/files
server-data/cache/files/BasicItem
server-data/cache/chat
server-data/cache/yarn-cache
server-data/db/default

# Resources
server-data/resources/\[gameplay]
server-data/resources/\[managers]
server-data/resources/\[system]
server-data/resources/\[system]/\[builders]
server-data/resources/\[test]
server-data/resources/\[gamemodes]

# Resources log
server-data/resources/\[phone]/npwd/sv_npwd.log
