# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

### Endpoints Privacy ###
sv_endpointPrivacy true

sv_hostname "EmpireTown"
set steam_webApiKey ""
sv_licenseKey ""
sv_maxclients 48   # Allow access to features usually locked behind a FiveM patreon key
# Loading a server icon (96x96 PNG file)
load_server_icon empiretown.png

sets sv_projectName "EmpireTown framework"
sets sv_projectDesc ""
sets locale "en-EN"
sets tags "default, esx, bpt, legacy, Roleplay"
sv_scriptHookAllowed 0

set onesync on   # It only works if you have a patreon subscription to fivem
set onesync_distanceCullVehicles true
set onesync_forceMigration true
set mysql_connection_string "mysql://root@localhost/es_extended?charset=utf8mb4"
set mysql_ui true

## These resources will start by default.
ensure chat
ensure spawnmanager
ensure sessionmanager

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

# Ticket Administration Ace
add_ace group.admin ticket.admin allow

## [Core]
ensure oxmysql
ensure es_extended
ensure ox_lib
ensure [esx]

## Addons
ensure [esx_addons]
ensure [bpt_addons]
ensure [ox]
ensure [wasabi]
ensure [maps]
ensure [sqz]
ensure bpt_cars
ensure [sound_cars]

## [phone]
ensure [phone]

#Executables cfg
exec inventory.cfg
set SCREENSHOT_BASIC_TOKEN "https://discord.com/api/webhooks/1268965493369344040/w1BxmtHw6MvnHFjt_S0JHwANbxivjtGSJRFbNj35QNJporpKIr5Qx1esenYYFr5RnCpg"