#u104-4 {
	background-color: transparent;
	line-height: 50px;
	font-size: 42px;
	color: #FFFFFF;
	font-weight: bold;
}

#u139-4 {
	background-color: transparent;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
}

#u136 { 
	/* color xp bar*/
	background-color: #ff2f2fbd;
	opacity: 0.76;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=76)";
	filter: alpha(opacity=76);
	border-radius: 10px;
}

#u107 {
	background-color: #3F3F3F;
	opacity: 0.76;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=76)";
	filter: alpha(opacity=76);
	border-radius: 10px;
}

#u212 {
	background: -webkit-gradient(linear, left center, right center, from(#1A1A1A), color-stop(100%, #081535));
	background: -webkit-linear-gradient(left, #1A1A1A, #081535 100%);
	background: linear-gradient(to right, #1A1A1A, #081535 100%);
	filter: alpha(opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF1A1A1A, endColorstr=#FF081535, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1A1A1A', endColorstr='#FF081535', GradientType=1)";
	border-width: 0px;
	border-color: transparent;
	opacity: 0.79;
	border-radius: 10px;
}

#u460 {
	background: -webkit-gradient(linear, left center, right center, from(#1A1A1A), color-stop(100%, #081535));
	background: -webkit-linear-gradient(left, #1A1A1A, #081535 100%);
	background: linear-gradient(to right, #1A1A1A, #081535 100%);
	filter: alpha(opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF1A1A1A, endColorstr=#FF081535, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1A1A1A', endColorstr='#FF081535', GradientType=1)";
	border-width: 0px;
	border-color: transparent;
	opacity: 0.79;
	border-radius: 10px;
}

#u475 {
	background: -webkit-gradient(linear, left center, right center, from(#1A1A1A), color-stop(100%, #081535));
	background: -webkit-linear-gradient(left, #1A1A1A, #081535 100%);
	background: linear-gradient(to right, #1A1A1A, #081535 100%);
	filter: alpha(opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF1A1A1A, endColorstr=#FF081535, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1A1A1A', endColorstr='#FF081535', GradientType=1)";
	border-width: 0px;
	border-color: transparent;
	opacity: 0.79;
	border-radius: 10px;
}

#u480 {
	background: -webkit-gradient(linear, left center, right center, from(#1A1A1A), color-stop(100%, #081535));
	background: -webkit-linear-gradient(left, #1A1A1A, #081535 100%);
	background: linear-gradient(to right, #1A1A1A, #081535 100%);
	filter: alpha(opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF1A1A1A, endColorstr=#FF081535, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1A1A1A', endColorstr='#FF081535', GradientType=1)";
	border-width: 0px;
	border-color: transparent;
	opacity: 0.79;
	border-radius: 10px;
}

#u505 {
	background: -webkit-gradient(linear, left center, right center, from(#1A1A1A), color-stop(100%, #081535));
	background: -webkit-linear-gradient(left, #1A1A1A, #081535 100%);
	background: linear-gradient(to right, #1A1A1A, #081535 100%);
	filter: alpha(opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF1A1A1A, endColorstr=#FF081535, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1A1A1A', endColorstr='#FF081535', GradientType=1)";
	border-width: 0px;
	border-color: transparent;
	opacity: 0.79;
	border-radius: 10px;
}

#u510 {
	background: -webkit-gradient(linear, left center, right center, from(#1A1A1A), color-stop(100%, #081535));
	background: -webkit-linear-gradient(left, #1A1A1A, #081535 100%);
	background: linear-gradient(to right, #1A1A1A, #081535 100%);
	filter: alpha(opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF1A1A1A, endColorstr=#FF081535, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1A1A1A', endColorstr='#FF081535', GradientType=1)";
	border-width: 0px;
	border-color: transparent;
	opacity: 0.79;
	border-radius: 10px;
}

#u386 {
	background: -webkit-gradient(linear, center top, center bottom, from(#1A1A1A), color-stop(100%, #081535));
	background: -webkit-linear-gradient(top, #1A1A1A, #081535 100%);
	background: linear-gradient(to bottom, #1A1A1A, #081535 100%);
	filter: alpha(opacity=86) progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF1A1A1A, endColorstr=#FF081535, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1A1A1A', endColorstr='#FF081535', GradientType=0)";
	border-width: 0px;
	border-color: transparent;
	opacity: 0.86;
	border-radius: 10px;
}

#u392 {
	background-color: #ff2f2fbd;
	border-radius: 10px;
}

#u457-4 {
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	text-align: left;
	color: #FFFFFF;
	font-weight: bold;
}

#u541-4 {
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	text-align: left;
	color: #FFFFFF;
	font-weight: bold;
}

#u544 {
	background: -webkit-gradient(linear, left center, right center, from(#1A1A1A), color-stop(100%, #081535));
	background: -webkit-linear-gradient(left, #1A1A1A, #081535 100%);
	background: linear-gradient(to right, #1A1A1A, #081535 100%);
	filter: alpha(opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF1A1A1A, endColorstr=#FF081535, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1A1A1A', endColorstr='#FF081535', GradientType=1)";
	border-width: 0px;
	border-color: transparent;
	opacity: 0.79;
	border-radius: 10px;
}

#u547-2 {
	padding-top: 5px;
}

#u562 {
	background: -webkit-gradient(linear, left center, right center, from(#1A1A1A), color-stop(100%, #081535));
	background: -webkit-linear-gradient(left, #1A1A1A, #081535 100%);
	background: linear-gradient(to right, #1A1A1A, #081535 100%);
	filter: alpha(opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF1A1A1A, endColorstr=#FF081535, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1A1A1A', endColorstr='#FF081535', GradientType=1)";
	border-width: 0px;
	border-color: transparent;
	opacity: 0.79;
	border-radius: 10px;
}

#u565-2 {
	padding-top: 5px;
}

#u574 {
	background: -webkit-gradient(linear, left center, right center, from(#1A1A1A), color-stop(100%, #081535));
	background: -webkit-linear-gradient(left, #1A1A1A, #081535 100%);
	background: linear-gradient(to right, #1A1A1A, #081535 100%);
	filter: alpha(opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF1A1A1A, endColorstr=#FF081535, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1A1A1A', endColorstr='#FF081535', GradientType=1)";
	border-width: 0px;
	border-color: transparent;
	opacity: 0.79;
	border-radius: 10px;
}

#u577-2 {
	padding-top: 5px;
}

#u586 {
	background: -webkit-gradient(linear, left center, right center, from(#1A1A1A), color-stop(100%, #081535));
	background: -webkit-linear-gradient(left, #1A1A1A, #081535 100%);
	background: linear-gradient(to right, #1A1A1A, #081535 100%);
	filter: alpha(opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF1A1A1A, endColorstr=#FF081535, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1A1A1A', endColorstr='#FF081535', GradientType=1)";
	border-width: 0px;
	border-color: transparent;
	opacity: 0.79;
	border-radius: 10px;
}

#u225-4,
#u461-4,
#u476-4,
#u481-4,
#u506-4,
#u511-4,
#u545-4,
#u563-4,
#u575-4,
#u587-4 {
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	font-weight: bold;
}

.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-left {
	0% {
		-webkit-transform: translateX(100px);
		transform: translateX(100px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

#ppu586 {
	position: absolute;
	right: 0px;
	bottom: 10px;
	overflow: hidden;
	height: 365px;
	width: 410px;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	align-content: flex-start;
}

#u270-4,
#u413-4,
#u463-4,
#u417-4,
#u464-4,
#u478-4,
#u479-4,
#u483-4,
#u484-4,
#u508-4,
#u509-4,
#u513-4,
#u514-4,
#u535-4,
#u538-4,
#u523-4,
#u547-4,
#u565-4,
#u577-4,
#u589-4 {
	background-color: #ec4a4abd;
	border-radius: 6px;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
}

#u589-2 {
	padding-top: 5px;
}

html {
	min-height: 100%;
	user-select: none;
	min-width: 100%;
	overflow: hidden;
	-ms-text-size-adjust: none;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
a {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border-style: solid;
	border-color: transparent;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
	background-repeat: no-repeat;
}

button.submit-btn {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.transition {
	-webkit-transition-property: background-image, background-position, background-color, border-color, border-radius, color, font-size, font-style, font-weight, letter-spacing, line-height, text-align, box-shadow, text-shadow, opacity;
	transition-property: background-image, background-position, background-color, border-color, border-radius, color, font-size, font-style, font-weight, letter-spacing, line-height, text-align, box-shadow, text-shadow, opacity;
}

.transition * {
	-webkit-transition: inherit;
	transition: inherit;
}

table {
	border-collapse: collapse;
	border-spacing: 0px;
}

fieldset,
img {
	border: 0px;
	border-style: solid;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
	font-style: inherit;
	font-weight: inherit;
}

del,
ins {
	text-decoration: none;
}

li {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: inherit;
}

input,
button,
textarea,
select,
optgroup,
option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

.form-grp input,
.form-grp textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

body {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	text-align: left;
	font-size: 14px;
	line-height: 17px;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: 'liga';
	-ms-font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
}

a:link {
	color: #0000FF;
	text-decoration: underline;
}

a:visited {
	color: #800080;
	text-decoration: underline;
}

a:hover {
	color: #0000FF;
	text-decoration: underline;
}

a:active {
	color: #EE0000;
	text-decoration: underline;
}

a.nontext {
	color: black;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}

.normal_text {
	color: #000000;
	direction: ltr;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0px;
	line-height: 17px;
	text-align: left;
	text-decoration: none;
	text-indent: 0px;
	text-transform: none;
	vertical-align: 0px;
	padding: 0px;
}

.list0 li:before {
	position: absolute;
	right: 100%;
	letter-spacing: 0px;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

.rtl-list li:before {
	right: auto;
	left: 100%;
}

.nls-None>li:before,
.nls-None .list3>li:before,
.nls-None .list6>li:before {
	margin-right: 6px;
	content: '•';
}

.nls-None .list1>li:before,
.nls-None .list4>li:before,
.nls-None .list7>li:before {
	margin-right: 6px;
	content: '○';
}

.nls-None,
.nls-None .list1,
.nls-None .list2,
.nls-None .list3,
.nls-None .list4,
.nls-None .list5,
.nls-None .list6,
.nls-None .list7,
.nls-None .list8 {
	padding-left: 34px;
}

.nls-None.rtl-list,
.nls-None .list1.rtl-list,
.nls-None .list2.rtl-list,
.nls-None .list3.rtl-list,
.nls-None .list4.rtl-list,
.nls-None .list5.rtl-list,
.nls-None .list6.rtl-list,
.nls-None .list7.rtl-list,
.nls-None .list8.rtl-list {
	padding-left: 0px;
	padding-right: 34px;
}

.nls-None .list2>li:before,
.nls-None .list5>li:before,
.nls-None .list8>li:before {
	margin-right: 6px;
	content: '-';
}

.nls-None.rtl-list>li:before,
.nls-None .list1.rtl-list>li:before,
.nls-None .list2.rtl-list>li:before,
.nls-None .list3.rtl-list>li:before,
.nls-None .list4.rtl-list>li:before,
.nls-None .list5.rtl-list>li:before,
.nls-None .list6.rtl-list>li:before,
.nls-None .list7.rtl-list>li:before,
.nls-None .list8.rtl-list>li:before {
	margin-right: 0px;
	margin-left: 6px;
}

.TabbedPanelsTab {
	white-space: nowrap;
}

.MenuBar .MenuBarView,
.MenuBar .SubMenuView {
	display: block;
	list-style: none;
}

.MenuBar .SubMenu {
	display: none;
	position: absolute;
}

.NoWrap {
	white-space: nowrap;
	word-wrap: normal;
}

.rootelem {
	margin-left: auto;
	margin-right: auto;
}

.colelem {
	display: inline;
	float: left;
	clear: both;
}

.clearfix:after {
	content: "\0020";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}

*:first-child+html .clearfix {
	zoom: 1;
}

.clip_frame {
	overflow: hidden;
}

.popup_anchor {
	position: relative;
	width: 0px;
	height: 0px;
}

.allow_click_through * {
	pointer-events: auto;
}

.popup_element {
	z-index: 100000;
}

.svg {
	display: block;
	vertical-align: top;
}

span.wrap {
	content: '';
	clear: left;
	display: block;
}

span.actAsInlineDiv {
	display: inline-block;
}

.position_content,
.excludeFromNormalFlow {
	float: left;
}

.preload_images {
	position: absolute;
	overflow: hidden;
	left: -9999px;
	top: -9999px;
	height: 1px;
	width: 1px;
}

.preload {
	height: 1px;
	width: 1px;
}

.animateStates {
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

[data-whatinput="mouse"] *:focus,
[data-whatinput="touch"] *:focus,
input:focus,
textarea:focus {
	outline: none;
}

textarea {
	resize: none;
	overflow: auto;
}

.allow_click_through,
.fld-prompt {
	pointer-events: none;
}

.wrapped-input {
	position: absolute;
	top: 0px;
	left: 0px;
	background: transparent;
	border: none;
}

.submit-btn {
	z-index: 50000;
	cursor: pointer;
}

.anchor_item {
	width: 22px;
	height: 18px;
}

.MenuBar .SubMenuVisible,
.MenuBarVertical .SubMenuVisible,
.MenuBar .SubMenu .SubMenuVisible,
.popup_element.Active,
span.actAsPara,
.actAsDiv,
a.nonblock.nontext,
img.block {
	display: block;
}

.widget_invisible,
.js .invi,
.js .mse_pre_init {
	visibility: hidden;
}

.ose_ei {
	visibility: hidden;
	z-index: 0;
}

.no_vert_scroll {
	overflow-y: hidden;
}

.always_vert_scroll {
	overflow-y: scroll;
}

.always_horz_scroll {
	overflow-x: scroll;
}

.fullscreen {
	overflow: hidden;
	left: 0px;
	top: 0px;
	position: fixed;
	height: 100%;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.fullwidth {
	position: absolute;
}

.borderbox {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.scroll_wrapper {
	position: absolute;
	overflow: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.browser_width>* {
	position: absolute;
	left: 0px;
	right: 0px;
}

.grpelem,
.accordion_wrapper {
	display: inline;
	float: left;
}

.fld-checkbox input[type=checkbox],
.fld-radiobutton input[type=radio] {
	position: absolute;
	overflow: hidden;
	clip: rect(0px, 0px, 0px, 0px);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0px;
	border: 0px;
}

.fld-checkbox input[type=checkbox]+label,
.fld-radiobutton input[type=radio]+label {
	display: inline-block;
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
	width: 100%;
	height: 100%;
}

.pointer_cursor,
.fld-recaptcha-mode,
.fld-recaptcha-refresh,
.fld-recaptcha-help {
	cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
span.actAsPara {
	max-height: 1000000px;
}

.superscript {
	vertical-align: super;
	font-size: 66%;
	line-height: 0px;
}

.subscript {
	vertical-align: sub;
	font-size: 66%;
	line-height: 0px;
}

.horizontalSlideShow {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}

.verticalSlideShow {
	-ms-touch-action: pan-x;
	touch-action: pan-x;
}

.colelem100,
.verticalspacer {
	clear: both;
}

.list0 li,
.MenuBar .MenuItemContainer,
.SlideShowContentPanel .fullscreen img,
.css_verticalspacer .verticalspacer {
	position: relative;
}

.popup_element.Inactive,
.js .disn,
.js .an_invi,
.hidden,
.breakpoint {
	display: none;
}

#muse_css_mq {
	position: absolute;
	display: none;
	background-color: #FFFFFE;
}

.fluid_height_spacer {
	width: 0.01px;
}

.muse_check_css {
	display: none;
	position: fixed;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	body {
		text-rendering: auto;
	}
}

.version.index {
	color: #000005;
	background-color: #CE8A64;
}

#muse_css_mq {
	background-color: #FFFFFF;
}

#page {
	z-index: 1;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.recipe {
	transition: transform .2s ease-in-out;
}

html {
	scroll-behavior: smooth;
}


/* width */

 ::-webkit-scrollbar {
	width: 0px;
}


/* Track */

 ::-webkit-scrollbar-track {
	opacity: 0.0;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
	background: #2469ff;
	border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
	background: #2469ff;
	border-radius: 10px;
}

.recipe:hover {
	transform: scale(1.05);
}

#pu104-4 {
	z-index: 2;
	top: 22vh;
	left: 40vw;
	position: absolute;
	width: 400px;
	height: 580px;
}

#ingredient-text {
	color: white;
	left: 70px;
	font-weight: 700;
	position: absolute;
	font-size: 20px;
	margin-top: 8px;
}

#ingredient-x {
	color: #2b95ff;
	font-weight: 700;
	position: absolute;
	font-size: 20px;
	left: 5px;
	margin-top: 8px;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

#ingredient-logo {
	background: transparent url("https://i.ibb.co/C2cJ52D/tire-cross-climate-plus.png") no-repeat center center;
	background-size: cover;
	width: 30px;
	position: absolute;
	height: 30px;
	left: 35px;
}

.ingredient {
	position: relative;
	margin-top: 1px;
	height: 30px;
	margin-left: 30px;
	margin-right: 10px;
}

#u104-4 {
	z-index: 2;
	width: 318px;
	min-height: 26px;
	position: relative;
	margin-left: 50%;
	left: -551px;
}

#ingredients {
	z-index: 50;
	position: absolute;
	overflow: auto;
	top: 150px;
	width: 294px;
	height: 170px;
}

#u139-4 {
	z-index: 8;
	width: 318px;
	min-height: 12px;
	margin-top: 6px;
	position: relative;
	margin-left: 50%;
	left: -551px;
}

#u136 {
	z-index: 7;
	width: 0px;
	height: 8px;
	position: relative;
	margin-left: 50%;
	left: -551px;
}

#recepies {
	margin-top: 90px;
	width: 200px;
	height: 460px;
	left: -390px;
	padding-left: 390px;
	position: absolute;
	overflow: auto;
}

.ripple {
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0)
}

.ripple:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
	background-repeat: no-repeat;
	background-position: 50%;
	transform: scale(10, 10);
	opacity: 0;
	transition: transform .5s, opacity 1s
}

.ripple:active:after {
	transform: scale(0, 0);
	opacity: .2;
	transition: 0s
}

#u107 {
	z-index: 6;
	width: 398px;
	height: 8px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
	margin-left: 50%;
	left: -551px;
}

.slide-bottom {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(100px);
		transform: translateY(100px);
	}
}

@keyframes slide-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(100px);
		transform: translateY(100px);
	}
}

#pu212 {
	z-index: 12;
	margin-top: 5px;
	transform-origin: center;
	background-color: red;
	position: relative;
	left: 200px;
}

#u212 {
	z-index: 12;
	width: 398px;
	height: 71px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -551px;
}

#u225-4 {
	z-index: 13;
	width: 269px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 50%;
	left: -477px;
}

#u264 {
	z-index: 17;
	width: 63px;
	height: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	margin-left: 50%;
	left: -546px;
}

#u270-4 {
	z-index: 18;
	width: 54px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 50%;
	left: -474px;
}

#u413-4 {
	z-index: 29;
	width: 59px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 50%;
	left: -416px;
}

#u417-4 {
	z-index: 29;
	width: 59px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 50%;
	left: -353px;
}

#pu460 {
	z-index: 38;
	margin-top: 6px;
	width: 100%;
	margin-left: 0%;
}

#u460 {
	z-index: 38;
	width: 398px;
	height: 71px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -551px;
}

#u461-4 {
	z-index: 39;
	width: 269px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 50%;
	left: -477px;
}

#u462 {
	z-index: 43;
	width: 63px;
	height: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	margin-left: 50%;
	left: -546px;
}

#u463-4 {
	z-index: 44;
	width: 54px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 50%;
	left: -474px;
}

#u464-4 {
	z-index: 48;
	width: 59px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 50%;
	left: -416px;
}

#pu475 {
	z-index: 52;
	margin-top: 7px;
	width: 100%;
	margin-left: 0%;
}

#u475 {
	z-index: 52;
	width: 398px;
	height: 71px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -551px;
}

#u476-4 {
	z-index: 53;
	width: 269px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 50%;
	left: -477px;
}

#u477 {
	z-index: 57;
	width: 63px;
	height: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	margin-left: 50%;
	left: -546px;
}

#u478-4 {
	z-index: 58;
	width: 54px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 50%;
	left: -474px;
}

#u479-4 {
	z-index: 62;
	width: 59px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 50%;
	left: -416px;
}

#pu480 {
	z-index: 66;
	margin-top: 6px;
	width: 100%;
	margin-left: 0%;
}

#u480 {
	z-index: 66;
	width: 398px;
	height: 71px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -551px;
}

#u481-4 {
	z-index: 67;
	width: 269px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 50%;
	left: -477px;
}

#u482 {
	z-index: 71;
	width: 63px;
	height: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	margin-left: 50%;
	left: -546px;
}

#u483-4 {
	z-index: 72;
	width: 54px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 50%;
	left: -474px;
}

#u484-4 {
	z-index: 76;
	width: 59px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 50%;
	left: -416px;
}

#pu505 {
	z-index: 80;
	margin-top: 7px;
	width: 100%;
	margin-left: 0%;
}

#u505 {
	z-index: 80;
	width: 398px;
	height: 71px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -551px;
}

#u506-4 {
	z-index: 81;
	width: 269px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	margin-left: 50%;
	left: -477px;
}

#u507 {
	z-index: 85;
	width: 63px;
	height: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	margin-left: 50%;
	left: -546px;
}

#u508-4 {
	z-index: 86;
	width: 54px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	margin-left: 50%;
	left: -474px;
}

#u509-4 {
	z-index: 90;
	width: 59px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	margin-left: 50%;
	left: -416px;
}

#pu510 {
	z-index: 94;
	margin-top: 6px;
	width: 100%;
	margin-left: 0%;
}

#u510 {
	z-index: 94;
	width: 398px;
	height: 71px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -551px;
}

#u511-4 {
	z-index: 95;
	width: 269px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 50%;
	left: -477px;
}

#u512 {
	z-index: 99;
	width: 63px;
	height: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	margin-left: 50%;
	left: -546px;
}

#u513-4 {
	z-index: 100;
	width: 54px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 50%;
	left: -474px;
}

#u514-4 {
	z-index: 104;
	width: 59px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 50%;
	left: -416px;
}

#pu386 {
	z-index: 22;
	left: 44vw;
	width: 294px;
	height: 381px;
	position: absolute;
	top: 20.6vh;
}

#u386 {
	z-index: 22;
	width: 294px;
	height: 381px;
	position: relative;
}

#u389 {
	z-index: 23;
	width: 88px;
	height: 88px;
	position: absolute;
	top: 16px;
	left: 10px;
}

#u392 {
	z-index: 24;
	width: 294px;
	height: 381px;
	position: absolute;
}

button:focus {
	border: none;
	outline: none;
}

button {
	transform-origin: center;
	transition: transform .2s ease-in-out;
}

button:hover {
	transform: scale(1.03);
}

#u407-4 {
	z-index: 25;
	width: 109px;
	height: 33px;
	position: absolute;
	bottom: 15px;
	right: 15px;
	background-color: #2F6AFF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	font-weight: bold;
}

.ie #u434 {
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	margin-left: 50%;
	left: -118px;
}

#u457-4 {
	z-index: 34;
	width: 167px;
	overflow: hidden;
	height: 20px;
	position: absolute;
	margin-right: -10000px;
	margin-top: 16px;
	margin-left: 50%;
	left: -24px;
}

#u457-4 p {
	white-space: nowrap;
	display: inline-block;
}

#u457-4 p:hover {
	padding-left: 100%;
	/*Initial offset*/
	animation: floatText 5s infinite linear;
}

@keyframes floatText {
	to {
		transform: translateX(-100%);
	}
}

#u535-4 {
	z-index: 108;
	width: 54px;
	min-height: 19px;
	position: absolute;
	margin-right: -10000px;
	margin-top: 43px;
	margin-left: 50%;
	left: -24px;
}

#u538-4 {
	z-index: 112;
	width: 59px;
	min-height: 19px;
	position: absolute;
	margin-right: -10000px;
	margin-top: 43px;
	margin-left: 50%;
	left: 36px;
}
#u523-4 {
	z-index: 112;
	width: 48px;
	min-height: 19px;
	position: absolute;
	margin-right: -10000px;
	margin-top: 67px;
	margin-left: 50%;
	left: -24px;
}

#u541-4 {
	z-index: 116;
	width: 199px;
	min-height: 12px;
	position: absolute;
	margin-right: -10000px;
	margin-top: 128px;
	margin-left: 50%;
	left: -118px;
}

#pu559 {
	z-index: 120;
	height: 0px;
	padding-bottom: 466px;
	margin-right: -10000px;
	margin-top: 614px;
	width: 21.67%;
}

#u559 {
	z-index: 120;
	height: 466px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 21.67%;
	max-width: 416px;
}

.ie #u559 {
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.queue {
	position: relative;
	width: 410px;
	height: 73px;
}

#u544 {
	z-index: 121;
	width: 388px;
	height: 71px;
	position: absolute;
}

#u545-4 {
	z-index: 122;
	width: 209px;
	min-height: 12px;
	position: absolute;
	top: 25px;
	right: 114px;
}

#u546 {
	z-index: 126;
	width: 63px;
	height: 63px;
	position: absolute;
	top: 4px;
	left: 10px;
}

#u547-4 {
	z-index: 127;
	width: 72px;
	min-height: 29px;
	position: absolute;
	top: 20px;
	right: 31px;
}

#u562 {
	z-index: 131;
	width: 388px;
	height: 71px;
	position: fixed;
	bottom: 98px;
	right: 20px;
}

#u563-4 {
	z-index: 132;
	width: 209px;
	min-height: 12px;
	position: fixed;
	bottom: 121px;
	right: 114px;
}

#u564 {
	z-index: 136;
	width: 63px;
	height: 63px;
	position: fixed;
	bottom: 102px;
	right: 332px;
}

#u565-4 {
	z-index: 137;
	width: 72px;
	min-height: 29px;
	position: fixed;
	bottom: 118px;
	right: 31px;
}

#u574 {
	z-index: 141;
	width: 388px;
	height: 71px;
	position: fixed;
	bottom: 176px;
	right: 20px;
}

#u575-4 {
	z-index: 142;
	width: 209px;
	min-height: 12px;
	position: fixed;
	bottom: 199px;
	right: 114px;
}

#u576 {
	z-index: 146;
	width: 63px;
	height: 63px;
	position: fixed;
	bottom: 180px;
	right: 332px;
}

#u577-4 {
	z-index: 147;
	width: 72px;
	min-height: 29px;
	position: fixed;
	bottom: 196px;
	right: 31px;
}

#u586 {
	z-index: 151;
	width: 388px;
	height: 71px;
	position: fixed;
	bottom: 255px;
	right: 20px;
}

#u587-4 {
	z-index: 152;
	width: 209px;
	min-height: 12px;
	position: fixed;
	bottom: 278px;
	right: 114px;
}

#u588 {
	z-index: 156;
	width: 63px;
	height: 63px;
	position: fixed;
	bottom: 259px;
	right: 332px;
}

#u589-4 {
	z-index: 157;
	width: 72px;
	min-height: 29px;
	position: fixed;
	bottom: 275px;
	right: 31px;
}

.css_verticalspacer .verticalspacer {
	height: calc(100vh - 2160px);
}

.html {
	background: #FFFFFF url("../images/20210228010453_1.jpg?crc=4133897247") repeat left top scroll;
}

body {
	position: relative;
	min-width: 320px;
}