body {
  width: 100%;
  overflow: hidden;
  font-family: "Exo 2", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}

.IconContainer {
  position: absolute;
  bottom: 0vh;
  left: 75.0vh;
}

.BaseCircle {
  position: relative;
  width: 4vh !important;
  height: 4vh !important;
  float: left;
  margin: 0.3vh;
  border-radius: 50%;
  background: rgb(49, 49, 49);
}

.fa-heart,
.fa-shield-alt,
.fa-hamburger,
.fa-skull {
  color: white;
  position: absolute;
  font-size: 1.6vh;
  left: 1.2vh;
  bottom: 1.2vh;
}

.fa-brain, .fa-headset  {
  color: white;
  position: absolute;
  font-size: 1.6vh;
  left: 1.1vh;
  bottom: 1.2vh;
}

.fa-lungs {
  color: white;
  position: absolute;
  font-size: 1.6vh;
  left: 1vh;
  bottom: 1.3vh;
}

.fa-tint {
  color: white;
  position: absolute;
  font-size: 1.6vh;
  left: 1.5vh;
  bottom: 1.2vh;
}

.fa-microphone {
  color: white;
  position: absolute;
  font-size: 1.6vh;
  left: 1.4vh;
  bottom: 1.25vh;
  }




#SpeedCircle {
  width: 6vh !important;
  height: 6vh !important;
  position: absolute;
  font-size: 5vh;
  left: 85.3vh;
  bottom: 5.0vh;
  background: rgba(27, 27, 27, 0.336);
  transform: rotate(-180deg);
}

#SpeedIndicator {
  color: white;
  position: inherit;
  z-index: 1000;
  left: vh;
  right: 0.4vh;
  top: 0.4vh;
  width: 5vh;
  font-size: 2.2vh;
  text-align: center;
  text-shadow: 0.2vh 0.2vh 0vh rgb(22, 22, 22);
  transform: rotate(-180deg);
}
#FuelCircle {
  width: 3vh !important;
  height: 3vh !important;
  position: absolute;
  left: 90.4vh;
  bottom: 9.7vh;
  background: rgba(27, 27, 27, 0.336);
  transform: rotate(-180deg);
}

.fa-gas-pump {
  color: white;
  font-size: 1vh;
  position: inherit;
  left: 0.9vh;
  bottom: 1.1vh;
  transform: rotate(-180deg);
}

.flash {
  -webkit-animation: flash 1s;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
