body {
  margin: 0;
  padding: 0;
  font-family: Impact, Charcoal, sans-serif;
}

#stage {
  margin: 0 auto;
  width: 1000px;
  margin-top: 7%;
  padding: 0 0 40px;
  background: transparent;
}

.ownedCoins {
  font-size: 22px;
  color: white;
  font-weight: 300;
  background: black;
  border: 2px solid #ED5D1E;
  border-radius: 10px;
  max-width: 221px;
  padding: 3px 15px 3px;
  display: flex;
  align-items: center;
}

#ownedCoins {
  color: #78ff00;
  text-shadow: 1px 1px 1px black;
  font-weight: 700;
  font-size: 28px;
  margin-left: 5px;
}

.ownedBet {
  font-size: 22px;
  color: white;
  font-weight: 300;
  background: black;
  border: 2px solid #ED5D1E;
  border-radius: 10px;
  max-width: 221px;
  padding: 3px 15px 3px;
  display: flex;
  align-items: center;
}

#win {
  font-size: 24px;
}
.mr-15{
  margin-right:15px;
}
.cHistory li {
  margin-left: 0px;
}
.cHistory li img{
  width:15px;
  height:15px;
}
.cHistory {
  list-style: none;
  font-size: 17px;
  color: white;
  font-weight: 300;
  background: black;
  border: 2px solid #ED5D1E;
  border-radius: 10px;
  max-width: 221px;
  padding: 6px 15px 7px;
  margin: 0px;
  display:flex;
  align-items: center;
}
.coins{
  display: flex;
  align-items: center;
}
.col{
  display: flex;
flex-direction: column;
flex: 1;
}
.efectos{
  width: 885px;
  margin: 0 auto;
  padding: 11px 0;
}

.win {
  font-size: 22px;
  color: white;
  font-weight: 300;
  background: black;
  border: 2px solid #ED5D1E;
  border-radius: 10px;
  width: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px;
}

.dblOrNothing {
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
  color: #fff;
  display: flex;
justify-content: flex-end;
}

#ownedBet {
  color: #78ff00;
  text-shadow: 1px 1px 1px black;
  font-weight: 700;
  font-size: 28px;
  margin-left: 5px;
}
.green-numbers {
  color: #78ff00;
  text-shadow: 1px 1px 1px black;
  font-weight: 700;
  /* font-size: 28px; */
  font-size: 22px;
}

#rotate {
  margin: 0 auto 0;
  width: 630px;
  height: 260px;
  padding-top: 150px;
  transform-style: preserve-3d;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* Ensure that we're in 3D space */
  transform-style: preserve-3d;
}
.traga-container{
  background: #F28556;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 630px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.6);
  border: 5px solid #ED5D1E;
}
.bet-controls{
  display:flex;
}

.comenzi {
  padding-top: 20px;
}

.ring {
  margin: 0 auto;
  height: 112px;
  width: 126px;
  float: left;
  transform-style: preserve-3d;

}
.slot {
  position: absolute;
  width: 126px;
  height: 112px;
  box-sizing: border-box;
  opacity: 0.9;
  color: rgba(0,0,0,0.9);
  background: #011627;
  border: solid 2px #000;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}

.backface-on {
  -webkit-backface-visibility: visible;
     -moz-backface-visibility: visible;
          backface-visibility: visible;
}

.slot p {
  font-size: 36px;
  font-weight: bold;
  line-height: 112px;
  margin: 0;
  text-align: center;
}

.betUp:hover {
  filter: brightness(110%);
}

.betUp {
  text-shadow: 1px 1px 1px black;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  background: #4F4B4B;
  transition: .2s all;
  display:flex;
  flex:1;
}

.AllIn:hover {
  background: #2F404E;
}

.AllIn {
  text-shadow: 1px 1px 1px black;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  background: #011627;
  transition: .2s all;
  display:flex;
  flex:1;
}

.go:hover {
  filter: brightness(110%);
}

.go {
  text-shadow: 1px 1px 1px black;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  background: #71C87F;
  background-image: none;
  transition: .2s all;
  font-family: Impact, Charcoal, sans-serif;
  border: 3px solid #35A147;
}
label {
  cursor: pointer;
  display: inline-block;
  width: 45%;
  text-align: center;
}

.winner1 {
  background: #f00;
  border: 2px solid gold;
}
.winner2 {
  background: #f00;
  border: 2px solid gold;
  background-image: url("https://i.imgur.com/1bS67lm.gif");
}

.tilted {
  transform: rotateY(45deg);
}
/*=====*/
.spin-0     { transform: rotateX(-3719deg); }
.spin-1     { transform: rotateX(-3749deg); }
.spin-2     { transform: rotateX(-3779deg); }
.spin-3     { transform: rotateX(-3809deg); }
.spin-4     { transform: rotateX(-3839deg); }
.spin-5     { transform: rotateX(-3869deg); }
.spin-6     { transform: rotateX(-3899deg); }
.spin-7     { transform: rotateX(-3929deg); }
.spin-8     { transform: rotateX(-3959deg); }
.spin-9     { transform: rotateX(-3989deg); }
.spin-10    { transform: rotateX(-4019deg); }
.spin-11    { transform: rotateX(-4049deg); }
/*=====*/
@keyframes back-spin {
    /*0%    { transform: rotateX(0deg); }*/
    100%  { transform: rotateX(30deg); }
}
@keyframes tiltin {
    0%    { transform: rotateY(0deg);}
    50%   { transform: rotateY(0deg);}
    100%  { transform: rotateY(45deg);}
}
@keyframes tiltout {
    0%    { transform: rotateY(45deg);}
    100%  { transform: rotateY(0deg);}
}

@keyframes spin-0 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-3719deg); }
}
@keyframes spin-1 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-3749deg); }
}
@keyframes spin-2 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-3779deg); }
}
@keyframes spin-3 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-3809deg); }
}
@keyframes spin-4 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-3839deg); }
}
@keyframes spin-5 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-3869deg); }
}
@keyframes spin-6 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-3899deg); }
}
@keyframes spin-7 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-3929deg); }
}
@keyframes spin-8 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-3959deg); }
}
@keyframes spin-9 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-3989deg); }
}
@keyframes spin-10 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-4019deg); }
}
@keyframes spin-11 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-4049deg); }
}

input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
  color: #fff;
  font-size: 18px;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}
input[type=checkbox] + label:active:before {
  transform: scale(0);
}
input[type=checkbox]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}
input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}
input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}
