name: ESLint
permissions:
  contents: read

on:
    push:
      branches: [ "main", "dev" ]
    pull_request:
      branches: [ "main" ]

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 16
      - run: npm ci # or yarn install
      - uses: sibiraj-s/action-eslint@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }} # optional
          eslint-args: '--ignore-pattern=.gitignore --quiet'
          extensions: 'js,jsx,ts,tsx'
          annotations: true