/* Impedisce lo scroll */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Contenitore principale */
#container {
  position: absolute;
  bottom: -100%;
  left: 5%;
  width: 80px;
  height: 50px;
  display: none;
  display: flex;
  flex-direction: column;
}

/* Header contenente l'immagine */
header {
  width: 80px;
  height: 80px;
  opacity: 0.8;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

/* Immagine lampeggiante */
header img {
  width: 60px;
  height: 60px;
  border-radius: 40px 40px 0 0;
}

/* Animazione lampeggiante */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.blink-image {
  animation: blink 1s infinite ease-in-out;
}
